{% if request.page_type == 'index' %}
  <style>
      .template-index .header_container{
        display: none;
      }
      .social_link img{
        filter: invert(1);
        width: 24px;
        margin-top: 10px;
      }
      .header_container{
        display: flex;
        justify-content: center;
        height: 100vh;
      }
      .page-width{
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 100vh; */
      }
      .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
      }
      .header-wrapper a{
        color: white;
        font-size: 20px;
      }
      .header-wrapper > * {
        flex: 1;
        text-align: center;
      }
      .logo-wrapper {
        flex: 0 1 auto;
        padding: 20px 10px;
        margin: 0 auto;
      }
      .header-menu,
      .header-cart {
        flex-grow: 1;
      }
      .right-nav{
        text-align: right;
        white-space: nowrap;
      }
      .account{
        margin-right: 15px;
      }
      .header-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background: none;
      }
      .header-menu .menu-item{
        margin: 0 !important;
      }
      .header-menu .menu-item, .right-nav, .right-nav > *{
        text-transform: uppercase;
        font-size: 16px;
      }
      .header-menu .menu-item:not(:last-child) {
        margin-right: 15px;
      }
      .logo-wrapper img {
        width: {{ section.settings.logo-size }}px;
        max-width: 100%;
      }
      .submenu {
        display: none;
        position: absolute;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        background: {{ settings.submenu-bg }};
        z-index: 100;
        left: 0;
        margin-top: 10px;
        flex-direction: column;
        padding: 0;
        min-width: 150px;
      }
      .subsub-menu-item {
        padding-top: 0 !important;
        font-size: 13px;
      }
      .submenu a {
        padding: 10px;
        display: block;
        text-decoration: none;
        text-align: center;
      }

      .has-children {
        position: relative;
      }
      .has-children > a:after {
        content: ' +';
      }
      .has-children.active > a:after {
        content: ' -';
      }
    .burger-menu {
      cursor: pointer;
      display: none;
      position: relative;
      z-index: 997;
    }

    /* @media screen and (max-width: 749px) {
      .burger-menu {
        display: block;
        margin-right: 20px;
      }

      .header-menu .menu-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.7rem;
      }

      .header-menu .menu-item {
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
      }
      {% if section.settings.menu != blank %}
      .header-wrapper > * {
        flex: 0 1 auto;
      }
      {% endif %}

      .header-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;
      }

      .header-menu.active {
        display: flex;
      }
      .submenu {
        z-index: 100;
        position: inherit;
        background: none;
        box-shadow: none;
      }
      .submenu a{
        font-size: 18px;
        text-align: center;
      }
      .subsub-menu-item {
        padding-top: 0 !important;
        font-size: 13px !important;
      }
      .account{
        display: none;
      }
    } */
      @media screen and (min-width: 750px){
        .submenu a {
        color: {{ settings.submenu-color }};
      }
        .account-mobile{
          display: none;
        }
      }
      @media screen and (max-width: 500px) {
        .logo-wrapper img {
          width: {{ section.settings.logo-size-mobile }}px;
        }
      }
  </style>

  <div class="header_container">
    <div class="page-width">
      <div class="header-wrapper">
        <div class="burger-menu">
          {%- if section.settings.menu != blank -%}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="burger"
              width="45"
              height="41"
              viewBox="0 0 55 51"
              fill="none"
            >
              <line x1="8" y1="20" x2="48" y2="20" stroke="{{ settings.header-menu }}" stroke-width="2"/>
              <line x1="8" y1="28.6133" x2="48" y2="28.6133" stroke="{{ settings.header-menu }}" stroke-width="2"/>
            </svg>

            <svg
              class="cross"
              style="display: none;"
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="41"
              viewBox="0 0 45 41"
              fill="none"
            >
              <path d="M13 30.4902L31.4902 12" stroke="{{ settings.header-menu-mobile }}" stroke-width="1.65"/>
              <path d="M13 12L31.4902 30.4902" stroke="{{ settings.header-menu-mobile }}" stroke-width="1.65"/>
            </svg>
          {% endif %}
        </div>

        <div class="logo-wrapper">
          <a href="{{ routes.root_url }}" class="header__heading-link">
            {%- if section.settings.logo != blank -%}
              <img
                class="header-logo"
                src="{{ section.settings.logo | img_url: 'master' }}"
                alt="{{ shop.name }}"
                loading="eager"
              >
            {%- else -%}
              <span class="header-logo-text">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>
        <div class="header-menu">
          {% if section.settings.menu %}
            {% for link in linklists[section.settings.menu].links %}
              <div class="menu-item{% if link.links.size > 0 %} has-children{% endif %}">
                <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a> 
                {% if link.links.size > 0 %}
                  <div class="submenu">
                    {% for childlink in link.links %}
                      <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                      {% if childlink.links.size > 0 %}
                        {% for subchildlink in childlink.links %}
                          <span>
                            <a class="subsub-menu-item" href="{{ subchildlink.url }}">{{ subchildlink.title }}</a>
                          </span>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            {% if shop.customer_accounts_enabled %}
              <div class="menu-item">
                <a class="account-mobile menu-link" href="/account">Account</a>
              </div>
            {% endif %}
          {% endif %}
        </div>
        <div class="right-nav">
          {% if shop.customer_accounts_enabled %}
            <a class="account" href="/account">Account</a>
          {% endif %}
          <a href="/cart"
            >Cart (<span id="CartCount">{{ cart.item_count }}</span>)</a
          >
        </div>
        <div class="social_link">
          <a href="https://www.instagram.com/icaruswickk/">
            <img
              src="https://selahclothing.co/cdn/shop/t/7/assets/instagram-black-outline.png?v=53411859321495629061696873628"
              loading="lazy"
            >
          </a>
        </div>
      </div>
    </div>
  </div>

{% else %}
  <style>
      .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .header-wrapper > * {
        flex: 1;
        text-align: center;
      }
      .logo-wrapper {
        flex: 0 1 auto;
        padding: 20px 10px;
        margin: 0 auto;
      }
      .header-menu,
      .header-cart {
        flex-grow: 1;
      }
      .right-nav{
        text-align: right;
        white-space: nowrap;
      }
      .account{
        margin-right: 15px;
      }
      .header-menu {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
      }
      .header-menu .menu-item, .right-nav, .right-nav > *{
        text-transform: uppercase;
        font-size: 16px;
      }
      .header-menu .menu-item:not(:last-child) {
        margin-right: 15px;
      }
      .logo-wrapper img {
        width: {{ section.settings.logo-size }}px;
        max-width: 100%;
      }
      .submenu {
        display: none;
        position: absolute;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        background: {{ settings.submenu-bg }};
        z-index: 100;
        left: 0;
        margin-top: 10px;
        flex-direction: column;
        padding: 0;
        min-width: 150px;
      }
      .subsub-menu-item {
        padding-top: 0 !important;
        font-size: 13px;
      }
      .submenu a {
        padding: 10px;
        display: block;
        text-decoration: none;
        text-align: center;
      }

      .has-children {
        position: relative;
      }
      .has-children > a:after {
        content: ' +';
      }
      .has-children.active > a:after {
        content: ' -';
      }
    .burger-menu {
      cursor: pointer;
      display: none;
      position: relative;
      z-index: 997;
    }

    @media screen and (max-width: 749px) {
      .burger-menu {
        display: block;
        margin-right: 20px;
      }

      .header-menu .menu-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.7rem;
      }

      .header-menu .menu-item {
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
      }
      {% if section.settings.menu != blank %}
      .header-wrapper > * {
        flex: 0 1 auto;
      }
      {% endif %}

      .header-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;
      }

      .header-menu.active {
        display: flex;
      }
      .submenu {
        z-index: 100;
        position: inherit;
        background: none;
        box-shadow: none;
      }
      .submenu a{
        font-size: 18px;
        text-align: center;
      }
      .subsub-menu-item {
        padding-top: 0 !important;
        font-size: 13px !important;
      }
      .account{
        display: none;
      }
    }
      @media screen and (min-width: 750px){
        .submenu a {
        color: {{ settings.submenu-color }};
      }
        .account-mobile{
          display: none;
        }
      }
      @media screen and (max-width: 500px) {
        .logo-wrapper img {
          width: {{ section.settings.logo-size-mobile }}px;
        }
      }
  </style>

  <nav class="default-header">
    <div class="page-width">
      <div class="header-wrapper">
        <div class="burger-menu">
          {%- if section.settings.menu != blank -%}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="burger"
              width="45"
              height="41"
              viewBox="0 0 55 51"
              fill="none"
            >
              <line x1="8" y1="20" x2="48" y2="20" stroke="{{ settings.header-menu }}" stroke-width="2"/>
              <line x1="8" y1="28.6133" x2="48" y2="28.6133" stroke="{{ settings.header-menu }}" stroke-width="2"/>
            </svg>

            <svg
              class="cross"
              style="display: none;"
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="41"
              viewBox="0 0 45 41"
              fill="none"
            >
              <path d="M13 30.4902L31.4902 12" stroke="{{ settings.header-menu-mobile }}" stroke-width="1.65"/>
              <path d="M13 12L31.4902 30.4902" stroke="{{ settings.header-menu-mobile }}" stroke-width="1.65"/>
            </svg>
          {% endif %}
        </div>

        <div class="header-menu">
          {% if section.settings.menu %}
            {% for link in linklists[section.settings.menu].links %}
              <div class="menu-item{% if link.links.size > 0 %} has-children{% endif %}">
                <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                  <div class="submenu">
                    {% for childlink in link.links %}
                      <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                      {% if childlink.links.size > 0 %}
                        {% for subchildlink in childlink.links %}
                          <span>
                            <a class="subsub-menu-item" href="{{ subchildlink.url }}">{{ subchildlink.title }}</a>
                          </span>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            {% if shop.customer_accounts_enabled %}
              <div class="menu-item">
                <a class="account-mobile menu-link" href="/account">Account</a>
              </div>
            {% endif %}
          {% endif %}
        </div>
        <div class="logo-wrapper">
          <a href="{{ routes.root_url }}" class="header__heading-link">
            {%- if section.settings.logo != blank -%}
              <img
                class="header-logo"
                src="{{ section.settings.logo | img_url: 'master' }}"
                alt="{{ shop.name }}"
                loading="eager"
              >
            {%- else -%}
              <span class="header-logo-text">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </div>
        <div class="right-nav">
          {% if shop.customer_accounts_enabled %}
            <a class="account" href="/account">Account</a>
          {% endif %}
          <a href="/cart"
            >Cart (<span id="CartCount">{{ cart.item_count }}</span>)</a
          >
        </div>
      </div>
    </div>
  </nav>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var burgerMenu = document.querySelector('.burger-menu');
    var headerMenu = document.querySelector('.header-menu');
    var burgerIcon = document.querySelector('.burger');
    var crossIcon = document.querySelector('.cross');
    var body = document.querySelector('body');

    burgerMenu.addEventListener('click', function () {
      var isOpen = headerMenu.classList.contains('active');

      headerMenu.classList.toggle('active');
      if (isOpen) {
        burgerIcon.style.display = 'block';
        crossIcon.style.display = 'none';
        body.style.overflow = 'inherit';
      } else {
        burgerIcon.style.display = 'none';
        crossIcon.style.display = 'block';
        body.style.overflow = 'hidden';
      }
    });

    var menuItems = document.querySelectorAll('.header-menu > .menu-item');
    menuItems.forEach(function (item) {
      var link = item.querySelector('.menu-link');
      link.addEventListener('click', function (event) {
        if (item.classList.contains('has-children')) {
          event.preventDefault();
          var active = document.querySelector('.menu-item.active');
          if (active && active !== item) {
            active.classList.remove('active');
            active.querySelector('.submenu').style.display = 'none';
          }
          var submenu = item.querySelector('.submenu');
          submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
          item.classList.toggle('active');
        }
      });
    });

    document.addEventListener('click', function (event) {
      if (!event.target.closest('.menu-item')) {
        var submenus = document.querySelectorAll('.submenu');
        submenus.forEach(function (submenu) {
          submenu.style.display = 'none';
        });
        var activeItems = document.querySelectorAll('.menu-item.active');
        activeItems.forEach(function (item) {
          item.classList.remove('active');
        });
      }
    });
  });
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo-size",
      "min": 50,
      "max": 400,
      "step": 5,
      "default": 150,
      "unit": "px",
      "label": "Logo size"
    },
    {
      "type": "range",
      "id": "logo-size-mobile",
      "min": 50,
      "max": 300,
      "step": 5,
      "default": 100,
      "unit": "px",
      "label": "Mobile logo size"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Header menu"
    }
  ]
}
{% endschema %}
