<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
  body, .page-width{
    padding: 0 !important;
  }
  input[type=text], input[type=button], input[type=submit] {
-webkit-appearance: none;
-webkit-border-radius: 0;
}
    .logo-wrapper-pass img {
    width: {{ section.settings.logo-size }}px;
    max-width: 100%;
  }
  .enter-password-container {
    z-index: 10;
}
  
    .intro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        position: relative;
        {% if section.settings.pass-background == 'color' %}
        background: {{ section.settings.pass-background-color }};
        {% elsif section.settings.pass-background == 'image' %}
        background: url('{{ section.settings.pass-background-image | img_url: 'master' }}');
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        {% elsif section.settings.pass-background == 'gradient' %}
        background: {{ section.settings.pass-background-gradient }};
        {% endif %}  
    }
    .password-intro {
      display: none;
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    .storefront-password-form {
        display: flex;
    }
    .input-group {
        display: flex;
    }
    .intro__email-label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }
    .intro__text-input {
        display: block;
        width: 300px;
        padding: 11px 18px;
        font-size: 14px;
        background-color: {{ section.settings.input-bg }};
        border: 1px solid;
        color: {{ section.settings.input-text }};
      border-radius: 0;
    }
    .intro__btn-input {
        padding: 12px 18px;
      height: 100%;
          height: auto;
      cursor: pointer;
    min-height: 100%;
        font-size: 14px;
        border: none;
        border-radius: 0;
        background: {{ section.settings.pass-button-bg }};
        color: {{ section.settings.pass-button-color }};
    }
    .intro__password-link {
        display: block;
        width: 200px;
        bottom: -40px;
        left: calc(50% - 100px);
        font-size: 14px;
        text-align: center;
        color: {{ section.settings.pass-text-color }};
        cursor: pointer;
    }
  .enter-password-container {
    background: {{ section.settings.popup-bg }};
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
    .intro__new-title {
        display: none;
        width: 200px;
        font-size: 17px;
        text-align: center;
        color: {{ section.settings.pass-text-color }};
    }
    .intro__form-div {
        display: none;
    }
    .intro__close-btn {
        display: block;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .intro__form-div svg {
        width: 30px;
        height: 30px;
    }
    .logo-wrapper-pass{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    align-items: center;
    }
  .pass-announcement{
    text-align: center;
    font-size: 18px;
    padding: 0 15px;
    color: {{ section.settings.pass-text-color }};
  }
  .intro > * {
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
  }
    @media(max-width: 749px) {
        .intro__text-input {
            width: 170px;
        }
    }
    @media screen and (max-width: 500px) {
    .logo-wrapper-pass img {
      width: {{ section.settings.logo-size-mobile }}px;
    }
  }
</style>
<div class="page-width">
  <div class="intro">
     {% for block in section.blocks %}
          {% case block.type %}
            {% when 'logo' %}
      <div class="logo-wrapper-pass">
        {%- if section.settings.logo != blank -%}
          <img class="pass-logo" src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}" loading="eager">
        {%- endif -%}
      </div>
      {% when 'announcement' %}
        {%- if section.settings.announcement-text != blank -%}
          <h2 class="pass-announcement">{{ section.settings.announcement-text }}</h2>
        {%- endif -%}
      {% when 'email-signup' %}
    <div class='intro__content email-intro'>
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
            <input type="hidden" name="form_type" value="customer">
            <input type="hidden" name="utf8" value="✓">
  
            <p class="password-signup-form__heading h3"></p>
  
            <input type="hidden" name="contact[tags]" value="prospect, password page">
  
            <div class="input-group">
              <input type="email" name="contact[email]" id="Email" class="input-group__field intro__text-input" placeholder="Your email">
              <span class="input-group__btn">
                <button class='btn intro__btn-input' type="submit" name="commit">
                  <span>Subscribe</span>
                </button>
              </span>
            </div>
        </form>
  </div>
       {% when 'custom-liquid' %}
        <div class="pass-custom-liquid">
          {{ block.settings.custom_liquid }}
        </div>
      {% when 'password' %}
      <a class='intro__password-link'>Enter using password</a>
  <div class="enter-password-container">
  <div class='intro__content password-intro'>
    <button class='intro__close-btn'>
          <svg class="svg-icon" viewBox="0 0 20 20">
              <path fill='{{ section.settings.pass-text-color }}' d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
          </svg>
      </button>
      {% form 'storefront_password' %}
          <input class='intro__text-input' type="password" name="password" placeholder='Password'>
          <input class='intro__btn-input' type="submit" value="Enter">
      {% endform %}
      
  </div>
  </div>
 <h2 class='intro__new-title'>Thanks for your subscription</h2>
      {% endcase %}
     {% endfor %}
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const passwordLink = document.querySelector('.intro__password-link');
    const closeBtn = document.querySelector('.intro__close-btn');
    const passPopup = document.querySelector('.enter-password-container');
    const passwordIntro = document.querySelector('.password-intro');
    const newTitle = document.querySelector('.intro__new-title');
    const emailIntro = document.querySelector('.email-intro');
    const passAnnouncement = document.querySelector('.pass-announcement');

    function showPasswordPopup(event) {
        event.preventDefault(); 
        if (passPopup && passwordIntro) {
            passPopup.style.display = 'flex';
            passwordIntro.style.display = 'flex';
        }
    }

    function hidePasswordPopup() {
        if (passPopup && passwordIntro) {
            passPopup.style.display = 'none';
            passwordIntro.style.display = 'none';
        }
    }

    function handleCustomerPosted() {
        if (window.location.search.includes('?customer_posted=true')) {
            if (emailIntro) emailIntro.style.display = 'none';
            if (passwordIntro) passwordIntro.style.display = 'none';
            if (newTitle) newTitle.style.display = 'block';
            if (passAnnouncement) passAnnouncement.style.display = 'none';
        }
    }

    if (passwordLink) {
        passwordLink.addEventListener('click', showPasswordPopup);
    }

    if (closeBtn) {
        closeBtn.addEventListener('click', hidePasswordPopup);
    }

    handleCustomerPosted();
});
</script>


{% schema %}
  {
    "name": "Password Template",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo-size",
        "min": 50,
        "max": 400,
        "step": 5,
        "default": 150,
        "unit": "px",
        "label": "Logo size"
      },
      {
      "type": "range",
      "id": "logo-size-mobile",
      "min": 50,
      "max": 300,
      "step": 5,
      "default": 100,
      "unit": "px",
      "label": "Mobile logo size"
      },
      {
        "type": "header",
        "content": "Announcement"
      },
      {
        "type": "text",
        "id": "announcement-text",
        "label": "Announcement text"
      },
      {
        "type": "header",
        "content": "Password Background"
      },
      {
        "type": "select",
        "id": "pass-background",
        "label": "Background type",
        "options": [
          {
            "value": "color",
            "label": "Color"
          },
          {
            "value": "gradient",
            "label": "Gradient"
          },
          {
            "value": "image",
            "label": "Image/Gif"
          }
        ]
      },
      {
        "type": "color",
        "id": "pass-background-color",
        "label": "Color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "pass-background-gradient",
        "label": "Gradient"
      },
      {
        "type": "image_picker",
        "id": "pass-background-image",
        "label": "Image/Gif"
      },
      {
        "type": "header",
        "content": "Padding settings"
      },
      {
        "type": "range",
        "id": "margin-top",
        "min": 5,
        "max": 70,
        "step": 5,
        "default": 20,
        "unit": "px",
        "label": "Margin top",
        "info": "Distance between elements from top"
      },
      {
        "type": "range",
        "id": "margin-bottom",
        "min": 5,
        "max": 70,
        "step": 5,
        "default": 20,
        "unit": "px",
        "label": "Margin bottom",
        "info": "Distance between elements from bottom"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "pass-text-color",
        "label": "Text",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "pass-button-color",
        "label": "Button text",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "pass-button-bg",
        "label": "Button bg",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "popup-bg",
        "label": "Enter with password popup bg",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "input-bg",
        "label": "Input (email & password) bg",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "input-text",
        "label": "Input (email & password) text",
        "default": "#000000"
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "limit": 1
      },
      {
        "type": "announcement",
        "name": "Announcement",
        "limit": 1
      },
      {
        "type": "email-signup",
        "name": "Email form",
        "limit": 1
      },
      {
        "type": "custom-liquid",
        "name": "Custom liquid (SMS form)",
        "limit": 1,
        "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Liquid/HTML code",
          "info": "Add app snippets such as SMS form"
        }
      ]
      },
      {
        "type": "password",
        "name": "Password",
        "limit": 1
      }
      
    ]
  }
{% endschema %}